body {
    background-color: lightslategray;
    padding: 20px;
    width: 1024px;
}

#intro {
    background-color: aquamarine;
}

#formInputs {
    background-color: cadetblue;
    height: 10vh;
}

.sectionText {
    text-align: center;
    color: antiquewhite;
}

.oddText {
    text-align: right;
    font-style: italic;
}

header {
    width: 1024px;
    display: flex;
    background-color: DodgerBlue;
}

main {
    width: 1024px;
}

header > nav > ol {
    list-style: none;
}
header > nav > ol > li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    background-color: bisque;
}
